<div class="container">
    <header class="jumbotron">
      <h1>BOOKS</h1>
      <a routerLink="/book/add" class="btn btn-primary btn-sm"> Add Book</a>
    </header>

        <div class="row">
            <div class="col-sm-12">
      
                <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">Title</th>
                        <th scope="col">Total Pages</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let book of bookLists">
                        <th scope="row">{{ book['name'] }}</th>
                        <td>{{ book['pages'] }}</td>
                        <td>
                            <a [routerLink]="'/book/'+book['id']+'/edit'" class="btn btn-sm btn-primary">Edit</a> &nbsp;
                            <a (click)="delete(book['id'])" class="btn btn-sm btn-warning">Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li *ngFor="let page of paginator" class="page-item"><a class="page-link" (click)="onPage(page)">{{ page }}</a></li>
                    </ul>
                  </nav>
                  
            </div>
        </div>
</div>
  