



  <div class="container">
    <header class="jumbotron">
      <h1>BOOKS</h1>
      <a routerLink="/book" class="btn btn-primary btn-sm">Go to Books</a>
    </header>

    <div class="col-md-12">
        <div class="card card-container">
          <form
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="title">Book Title</label>
              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="form.name"
                required
                minlength="3"
                maxlength="200"
                #title="ngModel"
              />
              <div class="alert-danger" *ngIf="title.errors && f.submitted">
                <div *ngIf="title.errors.required">Title is required</div>
                <div *ngIf="title.errors.minlength">
                  Title must be at least 3 characters
                </div>
                <div *ngIf="title.errors.maxlength">
                  Title must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="pages">Pages</label>
              <input
                type="number"
                class="form-control"
                name="pages"
                [(ngModel)]="form.pages"
                required
                #pages="ngModel"
              />
              <div class="alert-danger" *ngIf="pages.errors && f.submitted">
                <div *ngIf="pages.errors.required">pages is required</div>
              </div>
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block">
                  <span *ngIf="bookId"> Update</span>
                  <span *ngIf="!bookId"> Save</span>
                </button>
            </div>
      
            <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
            failed!<br />{{ errorMessage }}
            </div>
          </form>
      
          <div class="alert alert-success" *ngIf="isSuccessful">
              <span *ngIf="
              
              "></span>
              <span></span>
            Book has been successfully created!
          </div>
        </div>
      </div>
</div>
  
  